html {
  font-size: calc(100vw / 1920 * 10);
}
.catalog-nav {
  max-width: 39rem;
  width: 100%;
  margin-right: 3.8rem;
}
.catalog__navwrap {
  max-width: 34.4rem;
  width: 100%;
  position: relative;
  right: calc(-100% - 3.8rem);
}
.catalog {
  /*margin-top: 117px;*/
  padding: 0 4rem 0 5.2rem;
  display: flex;
}
.catalog__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.03em;
  color: #000000;

  margin-top: 1.5rem;
}
.catalog-seo__description {
  color: var(--blackColor);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-top: 4rem;
  width: 100%;
}

.catalog-seo__description h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.catalog-seo__description h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.catalog-seo__description h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.catalog-seo__description h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.catalog-seo__description h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.catalog-seo__description p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.catalog-seo__description ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.catalog-seo__description ul,
.catalog-seo__description ul li {
  list-style: unset;
}

.catalog-seo__description ol {
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.catalog-seo__description a,
.catalog-seo__description a:link,
.catalog-seo__description a:visited {
  color: #8A9B6E;
  opacity: 1;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: opacity, border-color 0.25s ease-in-out;
}

.catalog-seo__description a:hover {
  border-color: #8A9B6E;
  opacity: .8;
}

@media (max-width: 1024px) {
  .catalog-seo__description {
    padding: 6rem 5.2rem 3.8rem 4.5rem;
  }
}

@media (max-width: 767px) {
  .catalog-seo__description {
    padding: 6rem 2rem 3.8rem 2rem;
  }
}

@media (max-width: 376px) {
  .catalog-seo__description {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}
.catalog-nav__form {
  margin-top: 5rem;
  position: relative;
}
.smart-filter.blur {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}
.catalog-nav__new {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #8a9b6e;
  display: flex;
  padding-bottom: 2.3rem;
  border-bottom: 1px solid #838383;
  cursor: pointer;
  transition: ease-in-out 0.25s;
  margin-bottom: 1.6rem;
}
.catalog-nav__item {
  margin-bottom: 2rem;
  border-bottom: 1px solid #838383;
}
.catalog-nav__item:last-child {
  margin-bottom: 0rem;
  border-bottom: 0px solid #838383;
}
.catalog-nav__item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;

  cursor: pointer;
  padding-bottom: 2rem;
  padding-right: 0.8rem;
}
.catalog-nav__item-top svg {
  width: 1.6rem;
  height: 0.9rem;
  transition: ease-in-out 0.25s;
}
.is-active .catalog-nav__item-top svg {
  transform: rotate(180deg);
}
.catalog-nav__item-bottom {
  transition: ease-in-out 0.25s;
  overflow: hidden;
  height: 0;
}
.is-active .catalog-nav__item-bottom {
  margin-bottom: 2.4rem;
  height: 100%;
}
.catalog-nav__item-bottom--categories {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.catalog-nav__item-categories-input {
  margin-bottom: 2rem;
  width: fit-content;
}
.catalog-nav__item-categories-input:last-child {
  margin-bottom: 0.5rem;
}
.catalog-nav__item-categories-input input {
  display: none;
}
.catalog-nav__item-categories-input.active label {
  color: #000000;
}
.catalog-nav__item-categories-input.active label::after {
  left: 0;
  width: 100%;
}
.catalog-nav__item-categories-input label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.03em;
  color: #838383;
  transition: ease-in-out 0.25s;
  cursor: pointer;
}
.catalog-nav__item-categories-input label {
  position: relative;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.03em;
  color: #838383;
  transition: ease-in-out 0.25s;
}
.catalog-nav__item-categories-input:hover label {
  color: #000000;
}
.catalog-nav__item-categories-input label::after {
  position: absolute;
  content: " ";
  top: calc(100% + 4px);
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #000000;
  transition: ease-in-out 0.25s;
}
.catalog-nav__item-categories-input:hover label::after {
  left: 0;
  width: 100%;
}
.catalog .irs--flat {
  height: 4rem;
}
.catalog .irs--flat .irs-bar {
  height: 0.2rem;
  top: 2.7rem;
  background-color: #000000;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}
.catalog .irs--flat .irs-line {
  height: 0.2rem;
  top: 2.7rem;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}
.catalog .irs--flat .irs-handle {
  top: 2.2rem;
  width: 1.3rem;
  height: 1.3rem;
  background: #000000;
  transition: ease-in-out 0.25s;
  cursor: grab;
}

.catalog .irs--flat .irs-handle > i:first-child {
  display: none;
}

.catalog .irs--flat .irs-from,
.catalog .irs--flat .irs-to,
.catalog .irs--flat .irs-single {
  display: none;
}

.catalog .irs--flat .irs-min,
.catalog .irs--flat .irs-max {
  display: none;
}

.extra-controls__price {
  margin-top: 2.7rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.extra-controls__price input {
  width: 10rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.03em;
  color: #000000;

  border: 0;
  border-bottom: 1px solid #000000;
}

.extra-controls__price span {
  height: 1px;
  width: 2.5rem;
  margin: 0 2.2rem;
  background-color: #000000;
}

.catalog-nav__item-bottom--size {
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  max-width: 31rem;
  width: 100%;
}

.catalog-nav__item-size-card input {
  display: none;
}

.catalog-nav__item-size-card label {
  min-width: 6.2rem;
  border: 1px solid #000000;
  padding: 1.3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.25s;
  background-color: #fff;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #000000;
}
.catalog-nav__item-size-card label:hover {
  background-color: #000000;
  color: #fff;
}

.catalog-nav__item-size-card input:checked + label {
  background-color: #000000;
  color: #fff;
}

.catalog-nav__item-size-card--not label {
  border: 1px solid #838383;
  color: #838383;
  cursor: default;
}
.catalog-nav__item-size-card--not label:hover {
  border: 1px solid #838383;
  color: #838383;
  background-color: #fff;
}

.catalog-nav__item-bottom--color {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3.3rem;
  /* padding: 0rem 1.5rem; */
  padding-left: 1.5rem;
}

.catalog-nav__item-color input {
  display: none;
}
.catalog-nav__item-color input:checked + label {
  border: 4px solid #8a9b6e;
}
.catalog-nav__item-color label {
  display: block;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 100%;
  transition: ease-in-out 0.2s;
  border: 0px solid #8a9b6e;
}
/* .catalog-nav__item-color label.catalog__color-black {
  background: #000000;
}
.catalog-nav__item-color label.catalog__color-white {
  border: 1px solid #000000;
  background-color: #fff;
}
.catalog-nav__item-color label.catalog__color-red {
  background: red;
}
.catalog-nav__item-color label.catalog__color-blue {
  background: blue;
} */

.catalog-nav__item-bottom--description {
  padding-left: 1.5rem;
}

.catalog-nav__item-description {
  margin-bottom: 1.2rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
.catalog-nav__item-description.disabled, .catalog-nav__item-color.disabled {
  opacity: 0.3;
}
.catalog-nav__item-description:last-child {
  margin-bottom: 0rem;
}

.catalog-nav__item-description input {
  display: none;
}
.catalog-nav__item-description input:checked + label::after {
  border: 1rem solid #000000;
  background-color: #000000;
}

.catalog-nav__item-description label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.03em;
  color: #000000;
  padding-left: 4rem;
  cursor: pointer;
}
.catalog-nav__item-description label::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid #838383;
  transition: ease-in-out 0.25s;
}
.catalog-content {
  width: 100%;
}
.catalog-content-top {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* padding-left: 30rem; */
  margin-top: 3.4rem;
}

.catalog-content-top__search {
  max-width: calc(33.333% - 1.533rem);
  width: 100%;
  /* margin-left: 17rem; */
  border-bottom: 1px solid #8a9b6e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.1rem;
}
.catalog-content-top__search input {
  width: 100%;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.03em;
  color: #838383;
  border: 0;
  padding-right: 1rem;
}

.catalog-content-top__search button {
  background: #00000000;
  border: 0;
  outline: none;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.03em;
  color: #8a9b6e;
  cursor: pointer;
}

.catalog-content-top__sort {
  /* max-width: 30rem;
  width: 100%; */
  position: relative;
  margin-left: 1.5rem;
}

.catalog-content-top__sort-top {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;

  cursor: pointer;
}

.catalog-content-top__sort-top svg {
  width: 1.6rem;
  height: 0.9rem;
  margin-left: 3rem;
  display: flex;
  flex-shrink: 0;
  transition: ease-in-out 0.25s;
}
.is-active .catalog-content-top__sort-top svg {
  transform: rotate(180deg);
}

.catalog-content-top__sort-bottom {
  position: absolute;
  top: calc(100% + 1.2rem);
  left: 0;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  padding: 1.5rem 2rem;
  height: 0;
  overflow: hidden;
  transition: ease-in-out 0.25s;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}
.is-active .catalog-content-top__sort-bottom {
  visibility: visible;
  opacity: 1;
}
.catalog-content-top__sort-item {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.03em;
  color: #838383;
  display: flex;
  transition: ease-in-out 0.25s;
  cursor: pointer;
}
.catalog-content-top__sort-item.active {
  color: #000000;
}
.catalog-content-top__sort-item:hover {
  color: #000000;
}
.catalog-content-top__sort-item:last-child {
  margin-bottom: 0rem;
}

.catalog-content-cards {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: -4.4rem; */
  margin-left: -2.3rem;
}

.catalog-content__card {
  width: calc(33.333% - 2.3rem);
  margin-bottom: 4.4rem;
  margin-left: 2.3rem;
  position: relative;
}

.catalog-content__card-mark-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
  flex-direction: column;
}
.catalog-content__card-mark {
  padding: 1rem 1.8rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.catalog-content__card--new .catalog-content__card-mark-wrapper, .catalog-content__card--discount .catalog-content__card-mark-wrapper {
  display: flex;
}
.catalog-content__card--new .catalog-content__card-mark.catalog-content__card-mark--new {
  background: #8a9b6e;

  font-size: 1.6rem;
  line-height: 2rem;
}
.catalog-content__card--discount .catalog-content__card-mark.catalog-content__card-mark--discount {
  font-size: 1.8rem;
  line-height: 2.2rem;
  background: #000000;
}

.catalog-content__card-favourites {
  position: absolute;
  top: 0.9rem;
  right: 1.5rem;
  z-index: 2;
}

.catalog-content__card-favourites input {
  display: none;
}
.catalog-content__card-favourites label {
  display: block;
  width: 3.8rem;
  height: 3.8rem;
  background-image: url("/local/templates/allmongolia_umax/assets/images/heart-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}
.catalog-content__card-favourites input:checked + label {
  background-image: url("/local/templates/allmongolia_umax/assets/images/heart.svg");
}

.catalog-content__card-favourites label:hover {
  background-image: url("/local/templates/allmongolia_umax/assets/images/heart.svg");
}

.catalog-content__card-img {
  width: 100%;
  height: 53rem;
  position: relative;
  z-index: 0;
  display: block;
}

.catalog-content__card--not .catalog-content__card-img::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.58);
  z-index: 3;
}

.catalog-content__card-info {
  margin-top: 1.3rem;
}

.catalog-content__card-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;

  max-width: 32.8rem;
  width: 100%;
}
.catalog-content__card-subtitle {
  margin-top: 1.1rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.03em;

  color: #838383;
}

.catalog-content__card-availability {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.03em;
  color: #838383;
}

.catalog-content__card--not .catalog-content__card-availability {
  color: #e60304;
}

.catalog-content__card-info-bottom {
  display: flex;
  align-items: flex-end;
  margin-top: 0.7rem;
}
.catalog-content__card-price-wrap {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.catalog-content__card-price {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.7rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-content__card-price--discount {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 1rem;
  text-decoration: line-through;
  display: none;
}
.catalog-content__card--discount .catalog-content__card-price--discount {
  display: block;
}
.catalog-content__card--discount .catalog-content__card-price {
  color: #8a9b6e;
}

.catalog-content__card-basket {
  margin-left: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8a9b6e;
  min-width: 4.3rem;
  height: 4.3rem;
  padding: 1rem;
  cursor: pointer;
  /* transition: ease-in-out 0.25s; */
}
.catalog-content__card-basket.active {
  border: 2px solid #000000;
  background: #ffffff;
  padding: 1.1rem 0.7rem;
}
.catalog-content__card-basket-counter {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;

  display: none;
}
.active .catalog-content__card-basket-counter {
  display: block;
}
.catalog-content__card-basket-icon {
  display: flex;
  flex-shrink: 0;
}
.catalog-content__card-basket-icon svg {
  width: 2.5rem;
  height: 2.5rem;
}
.active .catalog-content__card-basket-icon {
  display: none;
}
.smart-filter-parameters-box-container {
  margin-top: 20px;
}
.smart-filter-popup-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-btn {
  padding: 1.5rem 3rem;
  border: 2px solid #000;
  background: transparent;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.03em;
  color: #000000;
  transition: ease-in-out 0.25s;
  max-width: 18rem;
  width: 100%;
  text-align: center;
}
.filter-btn:hover {
  color: #fff;
  border-color: transparent;
}
.filter-btn.submit-filter:hover {
  background: #8A9B6E;
}
.filter-btn.delete-filter:hover {
  background: #000;
}
@media (max-width: 1200px) {
  .catalog {
    /*margin-top: 100px;*/
  }
}
@media (max-width: 990px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
  .catalog-content__card {
    width: calc(50% - 2.3rem);
  }
  .catalog {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .smart-filter-popup-result {
    flex-direction: column;
  }
  .filter-btn.submit-filter {
    margin-bottom: 15px;
  }
  .filter-btn {
    max-width: 100%;
  }
  .catalog__navwrap {
    right: unset;
  }
  .catalog-content-top {
    padding-left: 0;
  }
  .catalog-content-top__search {
    margin-left: 0;
  }
  .catalog-nav {
    max-width: 100%;
    margin-right: 0;
  }
  .catalog-nav__item-top,
  .catalog-nav__new {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .catalog-content__card-img {
    height: 42.4rem;
  }
  .catalog-content__card-title {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .catalog-content__card-price {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
  .catalog-content__card-price--discount {
    font-size: 2.2rem;
    line-height: 2.7rem;
  }
  .catalog-content__card-favourites label:hover {
    background-image: url("/local/templates/allmongolia_umax/assets/images/heart-1.svg");
  }
}

@media (max-width: 500px) {
  html {
    font-size: calc(100vw / 375 * 10);
  }
  .catalog {
    /* margin-top: 72px; */
  }
  .catalog__navwrap {
    max-width: 100%;
  }
  .catalog__title {
    margin-top: 1.9rem;
    text-transform: uppercase;
    font-size: 2.4rem;
  }
  .catalog-content-cards {
    margin-top: 3.2rem;
  }
  .catalog-content__card {
    width: calc(100% - 2.3rem);
  }
  .catalog-content-top {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .catalog-content-top__sort {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .catalog-nav__form {
    margin-top: 6rem;
  }
  .catalog-content__card-favourites {
    top: 1.2rem;
    right: 1.2rem;
  }
  .catalog-content__card-favourites label {
    width: 4.5rem;
    height: 4.5rem;
  }
  .catalog-content__card-info {
    margin-top: 1rem;
  }
  .catalog-content__card-subtitle {
    margin-top: 2.3rem;
  }
  .catalog-content__card-availability {
    margin-top: 0.9rem;
  }
  .catalog-content__card-price {
    font-size: 3rem;
    line-height: 3.7rem;
  }
  .catalog-content__card-basket {
    padding: 0.9rem;
  }
  .catalog-content__card-basket-icon svg {
    width: 2.3rem;
    height: 2.3rem;
  }
  .catalog-content__card-price-wrap {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .catalog-content__card-price--discount {
    margin-left: 0;
  }
  .catalog-content__card-info-bottom {
    margin-top: 0.5rem;
  }
  .catalog-content__card--discount .catalog-content__card-info-bottom {
    margin-top: 2rem;
  }
  .catalog-content__card-price--discount {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  .catalog-content-top__search {
    max-width: 100%;
  }
}
