@import "../assets/css/main.css";


.breadcrumb li:not(:last-child)::after {
  color: #000000;
}

.main {
  color: var(--darkGray);
  /* margin-top: 10.3rem; */
}

.personal {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

/*.account-list-heading {*/
/*  font-weight: 500;*/
/*  font-size: 1.8rem;*/
/*  line-height: 2.2rem;*/
/*  margin-top: 2rem;*/
/*  padding-bottom: 17px;*/
/*  border-bottom: 1px dashed #e2e2e2;*/
/*}*/

/*.account-list-link {*/
/*  font-size: 1.4rem;*/
/*  line-height: 1.7rem;*/
/*  color: #757575;*/
/*  margin-top: 10px;*/
/*  display: flex;*/
/*  transition: ease-in-out 0.25s;*/
/*}*/

/*.account-list-link:hover {*/
/*  color: #8a9b6e;*/
/*}*/

.personal-wrap {
  /*width: calc(75% - 10px);*/
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.order-detail {
  margin-top: 1.5rem;
  display: block;
}

/*.personal-list {*/
/*  width: calc(25% - 10px);*/
/*}*/

.wrapper > .table {
  width: 100%;
  margin-bottom: 1.5rem;
}
.table-responsive .table {
  width: inherit;
}
.wrapper > .table td {
  border: 1px solid #ddd;
  padding: 1rem 1.5rem;
  margin: 0;
  /* border-bottom: none;
  border-right: none; */
}

.order-info {
  display: flex;
}

.order-info td {
  width: 50%;
}

.table-head > * {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.table-head > * a, .product-link a {
  font-weight: 700;
  text-transform: uppercase;
  color: #8A9B6E;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.table-body td {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #838383;
  color: #838383;
}

.table-body .table-status {
  padding: 0.75rem 2.5rem;
  width: fit-content;
  border: 1px solid #838383;
}

.table-body .table-status.F {
  color: #8A9B6E;
  border: 1px solid #8A9B6E;
}

.table-body .table-status.N {
  color: #E2CD8E;
  border: 1px solid #E2CD8E;
}

.table-body .table-status.C {
  color: #E49B9B;
  border: 1px solid #E49B9B;
}

.pt-3 {
  padding-top: 3rem;
}

tbody .table-head:first-child .pt-3 {
  padding-top: 0;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-1-5 {
  padding-bottom: 1.5rem;
}

.pt-1-5 {
  padding-top: 1.5rem;
}

tr.border td {
  background-color: #DBDBDB;
  height: 1px;
}

.xs-m {
  display: none;
}

.bonuses-value {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.order-pay-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-title, .status-type {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #8A9B6E;
}

.status-type {
  font-weight: 400;
  color: #838383;
}

.pay a {
  background: #8A9B6E;
  padding: 1.5rem 4.5rem;
  width: fit-content;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.wrapper.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.all-bonuses {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #8A9B6E;
  padding: 1rem 1.8rem;
  color: #fff;
  max-width: 35rem;
  width: 33.33333%;
  font-size: 2.2rem;
  line-height: 2.7rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.all-bonuses span {
  font-weight: 400;
}

.all-bonuses div {
  font-weight: 700;
}

.bonus-system a {
  font-weight: 700;
  text-decoration-line: underline;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #838383;
}

.invite {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #838383;
  opacity: 0.9;
}

.invite span {
  font-weight: 400;
}

.invite div {
  font-weight: 700;
  text-decoration-line: underline;
  cursor: pointer;
  margin-top: 1rem;
}

.wrapper.personal .wrap {
  width: 100%;
  padding: 0;
}

@media (max-width: 1024px) {
  /* .main {
    margin-top: 7.9rem;
  } */
  .wrapper.info {
    margin: 3rem 2rem 0;
  }
  .wrapper.personal {
    margin: 3rem 2rem 0;
  }
}

@media (max-width: 767px) {
  /* .main {
    margin-top: 4rem;
  } */

  .wrapper.personal {
    flex-direction: column;
  }

  .fastregistration-form {
    max-width: 100%;
  }

  .personal-wrap, .personal-list {
    width: 100%;
  }

  .personal-list {
    margin-top: 3rem;
  }

  .wrapper h1.title {
    margin-top: 0;
  }
  .wrapper > .table {
    overflow-x: auto;
  }

  .order-info {
    flex-direction: column;
  }

  .order-info td {
    width: 100%;
  }

  .xs {
    display: none;
  }

  .xs-m {
    display: block;
  }

  .table-body {
    display: flex;
    flex-direction: column;
  }

  .table-body td {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .pb-3, .pb-3-m {
    padding-bottom: 1.5rem;
  }
  
  .pt-3 {
    padding-top: 1.5rem;
  }

  .table-body .table-status-wrapper {
    font-size: 1.25rem;
  }

  .table-body .table-status {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .wrapper.info {
    flex-direction: column;
    gap: 10px;
  }

  .all-bonuses {
    width: 100%;
    max-width: unset;
  }

  .bonus-system, .invite {
    width: 100%;
  }

  .bonus-system {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1rem;
  }

  .invite {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .invite div {
    margin-top: 0;
  }
}

@media (max-width: 376px) {
  /*html {*/
  /*  font-size: calc(100vw / 370 * 10);*/
  /*}*/

  /* .main {
    margin-top: 7.9rem;
  } */

  .personal-wrap td {
    /* font-size: 1rem; */
  }
}
